.version.nuestras_marcas {
    color: #000009;
    background-color: #B9F6BD;
}

#muse_css_mq {
    background-color: #FFFFFF;
}

#page {
    z-index: 1;
    min-height: 500px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#pu95 {
    z-index: 102;
    height: 0px;
    padding-bottom: 108px;
    margin-right: -10000px;
    width: 100%;
}

#u95 {
    z-index: 102;
    height: 108px;
    position: fixed;
    top: 0px;
}

#u95-bw {
    z-index: 102;
}

#u101 {
    position: relative;
    left: -50%;
    margin-left: 67.34507042253523px;
    width: 100%;
    max-width: 135px;
}

#u8393 {
    z-index: 104;
    width: 97.04%;
}

#u101-wrapper {
    position: fixed;
    top: 20px;
    z-index: 103;
    left: 50%;
    margin-left: -460px;
    width: 14.07%;
    max-width: 135px;
}

#u117-4 {
    min-height: 19px;
    position: relative;
    left: -50%;
    margin-left: 67.49999999999999px;
    width: 100%;
    max-width: 135px;
}

#u117-4:hover {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 100%;
    max-width: 135px;
    margin: 0px 0px 0px 67px;
}

#u117-4-wrapper {
    position: fixed;
    top: 57px;
    z-index: 105;
    left: 50%;
    margin-left: -242px;
    width: 14.07%;
    max-width: 135px;
}

#u122-4 {
    min-height: 19px;
    position: relative;
    left: -50%;
    margin-left: 67.49999999999997px;
    width: 100%;
    max-width: 135px;
}

#u117-4.MuseLinkActive,
#u122-4:hover {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 100%;
    max-width: 135px;
    margin: 0px 0px 0px 67px;
}

#u122-4.MuseLinkActive {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 100%;
    max-width: 135px;
    margin: 0px 0px 0px 67px;
}

#u122-4-wrapper {
    position: fixed;
    top: 57px;
    z-index: 109;
    left: 50%;
    margin-left: -83px;
    width: 14.07%;
    max-width: 135px;
}

#u125-4 {
    min-height: 19px;
    position: relative;
    left: -50%;
    margin-left: 100px;
    width: 100%;
    max-width: 200px;
}

#u125-4:hover {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 100%;
    max-width: 200px;
    margin: 0px 0px 0px 100px;
}

#u125-4.MuseLinkActive {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 100%;
    max-width: 200px;
    margin: 0px 0px 0px 100px;
}

#u125-4-wrapper {
    position: fixed;
    top: 57px;
    z-index: 113;
    left: 50%;
    margin-left: 77px;
    width: 20.84%;
    max-width: 200px;
}

#u128-4 {
    min-height: 19px;
    position: relative;
    left: -50%;
    margin-left: 32px;
    width: 100%;
    max-width: 64px;
}

#u128-4:hover {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 100%;
    max-width: 64px;
    margin: 0px 0px 0px 32px;
}

#u128-4.MuseLinkActive {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 100%;
    max-width: 64px;
    margin: 0px 0px 0px 32px;
}

#u128-4-wrapper {
    position: fixed;
    top: 57px;
    z-index: 117;
    left: 50%;
    margin-left: 295px;
    width: 6.67%;
    max-width: 64px;
}

#u6397-4 {
    min-height: 14px;
    position: relative;
    left: -50%;
    margin-left: 32px;
    width: 100%;
    max-width: 64px;
}

#u6397-4:hover {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 100%;
    max-width: 64px;
    margin: 0px 0px 0px 32px;
}

#u6397-4-wrapper {
    position: fixed;
    top: 20px;
    z-index: 121;
    left: 50%;
    margin-left: 295px;
    width: 6.67%;
    max-width: 64px;
}

#u6400-4 {
    min-height: 14px;
    position: relative;
    left: -50%;
    margin-left: 32px;
    width: 100%;
    max-width: 64px;
}

#u6397-4.MuseLinkActive,
#u6400-4:hover {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 100%;
    max-width: 64px;
    margin: 0px 0px 0px 32px;
}

#u6400-4.MuseLinkActive {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 14px;
    width: 100%;
    max-width: 64px;
    margin: 0px 0px 0px 32px;
}

#u6400-4-wrapper {
    position: fixed;
    top: 20px;
    z-index: 125;
    left: 50%;
    margin-left: 389px;
    width: 6.67%;
    max-width: 64px;
}

#u131-4 {
    min-height: 19px;
    position: relative;
    left: -50%;
    margin-left: 38.5px;
    width: 100%;
    max-width: 77px;
}

#u131-4:hover {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 100%;
    max-width: 77px;
    margin: 0px 0px 0px 39px;
}

#u131-4.MuseLinkActive {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 100%;
    max-width: 77px;
    margin: 0px 0px 0px 39px;
}

#u131-4-wrapper {
    position: fixed;
    top: 57px;
    z-index: 129;
    left: 50%;
    margin-left: 382px;
    width: 8.03%;
    max-width: 77px;
}

#ptopesc {
    z-index: 72;
    padding-bottom: 0px;
    margin-right: -10000px;
    width: 100%;
}

#topesc {
    position: relative;
}

#u2789-10 {
    z-index: 62;
    min-height: 203px;
    background-color: transparent;
    text-align: left;
    color: #FFFFFF;
    margin-top: 183px;
    position: relative;
    width: 81.15%;
    margin-left: 8.13%;
}

#pu5649 {
    z-index: 91;
    margin-top: 71px;
    width: 77.4%;
    margin-left: 11.78%;
    display: flex;
    justify-content: space-between;

    /* Esto hará que los elementos tengan un espacio uniforme entre ellos */
    align-items: center;

    /* Esto centrará verticalmente los elementos en el contenedor */
    flex-wrap: wrap;

    /* En caso de que no haya suficiente espacio, los elementos se envolverán a la siguiente línea */
}

#u5649 {
    z-index: 91;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    width: 25.04%;
}

#u5659 {
    z-index: 93;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    width: 25.04%;
}

#u5666 {
    z-index: 95;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    width: 25.04%;
}

#zignum {
    margin-top: 92px;
    position: relative;
}

#u5435 {
    z-index: 2;
    min-height: 872px;
    border-width: 0px;
    border-color: transparent;
    background-color: #FFFFFF;
    padding-bottom: 37px;
}

#u3258 {
    z-index: 3;
    border-style: solid;
    border-width: 2px;
    border-color: #E6C35A;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 37px;
    width: 100%;
    left: -0.21%;
}

#u3258 .fluid_height_spacer {
    padding-bottom: 86.5625%;
}

#u2843 {
    z-index: 4;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 158px;
    width: 37.09%;
    left: 53.13%;
}

#u2798-15 {
    z-index: 10;
    min-height: 500px;
    background-color: transparent;
    text-align: left;
    color: #616160;
    position: relative;
    margin-right: -10000px;
    margin-top: 233px;
    width: 38.65%;
    left: 8.13%;
}

#u2798-5 {
    font-size: 27px;
    line-height: 32px;
    font-family: baskerville-display-pt, serif;
    font-weight: 400;
    font-style: italic;
}

#u2801 {
    z-index: 25;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 79px;
    width: 18.44%;
    left: 8.03%;
}

#recuerdo {
    position: relative;
    margin-right: -10000px;
    width: 22px;
    margin-top: 839px;
}

#u3383 {
    z-index: 73;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 814px;
    width: 3.55%;
    left: 86.46%;
}

#u3694-4 {
    z-index: 79;
    min-height: 23px;
    background-color: transparent;
    line-height: 22px;
    font-size: 18px;
    color: #E6C35A;
    font-family: baskerville-display-pt, serif;
    font-weight: 700;
    font-style: italic;
    position: relative;
    margin-right: -10000px;
    margin-top: 825px;
    width: 13.44%;
    left: 8.03%;
}

.js body {
    visibility: hidden;
}

.js body.initialized {
    visibility: visible;
}

#u5435-bw {
    z-index: 2;
    min-height: 872px;
}

#u3219 {
    z-index: 6;
    min-height: 1052px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    padding-bottom: 70px;
    background: transparent url("../images/fondo_recuerdo.jpg?crc=23852956") no-repeat center center;
    background-size: cover;
}

#senorio {
    position: relative;
    margin-right: -10000px;
    width: 22px;
    margin-top: 1026px;
}

#pu3317 {
    z-index: 60;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 69px;
    width: 38.75%;
    margin-left: 8.03%;
}

#u3317 {
    z-index: 60;
    background-color: transparent;
    position: relative;
    width: 47.59%;
}

#u2883-13 {
    z-index: 47;
    min-height: 655px;
    background-color: transparent;
    text-align: left;
    color: #FFFFFF;
    margin-top: 44px;
    position: relative;
    width: 99.74%;
    margin-left: 0.27%;
}

#u3697-4 {
    z-index: 83;
    min-height: 23px;
    background-color: transparent;
    line-height: 22px;
    font-size: 18px;
    color: #E6C35A;
    font-family: baskerville-display-pt, serif;
    font-weight: 700;
    font-style: italic;
    margin-top: 67px;
    position: relative;
    width: 34.68%;
    margin-left: 1.08%;
}

#pu3230 {
    z-index: 42;
    margin-right: -10000px;
    margin-top: 290px;
    width: 30.94%;
    margin-left: 59.59%;
}

#u3230 {
    z-index: 42;
    background-color: transparent;
    position: relative;
    width: 100%;
}

#u3703 {
    z-index: 75;
    background-color: transparent;
    margin-top: 165px;
    position: relative;
    width: 11.45%;
    margin-left: 86.87%;
}

#u3219-bw {
    z-index: 6;
    min-height: 1052px;
}

#u2899 {
    z-index: 7;
    min-height: 872px;
    background: -webkit-gradient(linear, left center, right center, from(#0095A9), color-stop(46%, #FFFFFF));
    background: -webkit-linear-gradient(left, #0095A9, #FFFFFF 46%);
    background: linear-gradient(to right, #0095A9, #FFFFFF 46%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0095A9, endColorstr=#FFFFFFFF, GradientType=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0095A9', endColorstr='#FFFFFFFF', GradientType=1)";
    padding-bottom: 55px;
    background-size: 100% auto;
}

#u5435_align_to_page,
#u3219_align_to_page,
#u2899_align_to_page {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 960px;
}

#pu2978 {
    z-index: 40;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 111px;
    width: 41.36%;
    margin-left: 8.13%;
}

#u2978 {
    z-index: 40;
    background-color: transparent;
    position: relative;
    width: 47.36%;
}

#u2912-13 {
    z-index: 27;
    min-height: 476px;
    background-color: transparent;
    text-align: left;
    color: #1D1D1B;
    margin-top: 40px;
    position: relative;
    width: 99.25%;
    margin-left: 0.76%;
}

#u2789-2,
#u2789-3,
#u2798-2,
#u2798-4,
#u2883-2,
#u2883-3,
#u2912-2,
#u2912-3 {
    font-size: 30px;
    line-height: 36px;
    font-family: baskerville-display-pt, serif;
    font-weight: 700;
    font-style: italic;
   
}

#u2789-5,
#u2789-6,
#u2789-8,
#u2798-7,
#u2798-8,
#u2798-10,
#u2798-11,
#u2798-13,
#u2883-8,
#u2883-11,
#u2912-5,
#u2912-6,
#u2912-8,
#u2912-9,
#u2912-11 {
    font-size: 18px;
    line-height: 23px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    text-align: justify;
}

#u3700-4 {
    z-index: 87;
    min-height: 23px;
    background-color: transparent;
    line-height: 22px;
    font-size: 18px;
    color: #1D1D1B;
    font-family: baskerville-display-pt, serif;
    font-weight: 700;
    font-style: italic;
    margin-top: 50px;
    position: relative;
    width: 32.5%;
    margin-left: 0.76%;
}

#u3694,
#u3697,
#u3700 {
    text-decoration: underline;
}

#pu2902 {
    z-index: 8;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 188px;
    width: 40.94%;
    margin-left: 50.42%;
}

#u2902 {
    z-index: 8;
    background-color: transparent;
    position: relative;
    width: 100%;
}

#u3710 {
    z-index: 77;
    background-color: transparent;
    margin-top: 40px;
    position: relative;
    width: 8.66%;
    margin-left: 88.05%;
}

#u5649_img,
#u5659_img,
#u5666_img,
#u2843_img,
#u2801_img,
#u3383_img,
#u3317_img,
#u3230_img,
#u3703_img,
#u2978_img,
#u29780_img,
#u2902_img,
#u3710_img {
    width: 100%;
}

#u2899-bw {
    z-index: 7;
    min-height: 872px;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 3730px);
}

#u244 {
    z-index: 97;
    min-height: 40px;
    padding-bottom: 27px;
}

#u244_align_to_page {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#u250-4 {
    z-index: 98;
    min-height: 12px;
    position: relative;
    margin-right: -10000px;
    margin-top: 28px;
    width: 66.78%;
    left: 2.09%;
}

#u244-bw {
    z-index: 97;
    min-height: 40px;
    margin-top: -5px;
}

.html {
    background: #FFFFFF url("../images/nuestras_marcas.jpg?crc=3762392439") no-repeat center center fixed;
    background-size: cover;
}

body {
    position: relative;
    min-width: 320px;
}

.verticalspacer {
    min-height: 1px;
}

#u28990 {
    z-index: 7;
    min-height: 872px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0095A9, endColorstr=#FFFFFFFF, GradientType=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0095A9', endColorstr='#FFFFFFFF', GradientType=1)";
    padding-bottom: 55px;
    background-size: 100% auto;
    background-color: #000000;
}

#u28990-bw {
    z-index: 7;
    min-height: 872px;
}

#u28990_align_to_page {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 960px;
}

#pu29780 {
    z-index: 40;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 111px;
    width: 41.36%;
    margin-left: 8.13%;
}

#pu29780 {
    z-index: 40;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 111px;
    width: 41.36%;
    margin-left: 8.13%;
}

#u29780 {
    z-index: 40;
    background-color: transparent;
    position: relative;
    width: 47.36%;
}

#u29120-13 {
    z-index: 27;
    min-height: 476px;
    background-color: transparent;
    text-align: left;
    color: #1D1D1B;
    margin-top: 40px;
    position: relative;
    width: 99.25%;
    margin-left: 0.76%;
}

#u37000-4 {
    z-index: 87;
    min-height: 23px;
    background-color: transparent;
    line-height: 22px;
    font-size: 18px;
    color: #1D1D1B;
    font-family: baskerville-display-pt, serif;
    font-weight: 700;
    font-style: italic;
    margin-top: 50px;
    position: relative;
    width: 32.5%;
    margin-left: 0.76%;
}

#u37000 {
    text-decoration: underline;
}

#pu29020 {
    z-index: 8;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 188px;
    width: 40.94%;
    margin-left: 50.42%;
}

#u29020 {
    z-index: 8;
    background-color: transparent;
    position: relative;
    width: 100%;
}

#u37100 {
    z-index: 77;
    background-color: transparent;
    margin-top: 40px;
    position: relative;
    width: 8.66%;
    margin-left: 88.05%;
}#u29020_img {
    width: 100%;
}